<html>
<div id="content" class="container ">
  <div class="row ">
    <div class="col order-first mt-3 mb-5">
      <mat-toolbar style="background-color:rgb(241, 218, 87);" >
        <span>Reporte Tareas</span>
        <rec class=" rec btn " (click)="actualizar()" style="color :rgba(15, 15, 15, 0.952)" matTooltip="Refrescar Tabla">
          <mat-icon>refresh</mat-icon>
        </rec>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" (click)="imprimir()" matTooltip="Imprimir Reporte">Imprimir</button>
      </mat-toolbar>
      <form [formGroup]="form" (ngSubmit)="grabar_localstorage()">
        <div class="container p-1 mb-4 ">
          <div class="row">
            <div class="col order-last" >
              <mat-form-field appearance="fill">
                <mat-label >Materia</mat-label>
                <mat-select (selectionChange)="materiaCambio($event.value)"  formControlName='materia'>
                  <mat-option *ngFor="let entregaTareas of collection" [value]="entregaTareas.nombre">
                    {{entregaTareas.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
      <mat-card class="card">
        <table class="full-width-table" class="table">
          <thead>
            <tr class=" text-center">
              <th scope="col">Id</th>
                <th scope="col">Tarea</th>

                <th scope="col">Alumno</th>
                <th scope="col">Materia</th>
                <th scope="col">Status</th>
                <th scope="col">Calificacion</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entregaTareas of ListarEntrega2Tareas" class=" text-center">
              <td>{{entregaTareas.id}}</td>
              <td>{{entregaTareas.tarea}}</td>
              <td>{{entregaTareas.alumno}}</td>
              <td>{{entregaTareas.materia}}</td>
              <td>{{entregaTareas.status}}</td>
              <td>{{entregaTareas.calificacion}}</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
</div>
</html>
