<form [formGroup]="addressForm" novalidate (ngSubmit)="agregarTareas()">
    <mat-card class="card">
      <h1 style="text-align: center;">Agregar Tareas </h1>


      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="tareas.fecha" type="date" placeholder="Fecha" formControlName="fecha">
        <mat-error *ngIf="addressForm.controls['fecha'].hasError('required')">
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="tareas.nombre" placeholder="Nombre" formControlName="nombre">
      <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
        <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="tareas.descripcion" placeholder="Descripcion" formControlName="descripcion">
      <mat-error *ngIf="addressForm.controls['descripcion'].hasError('required')">
        <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label >Materia</mat-label>
        <mat-select matInput [(ngModel)]="tareas.materias_id" (selectionChange)="tareas.materias_id"  formControlName='materias_id'>
          <mat-option *ngFor="let mat of collection" [value]="mat.id">
            {{mat.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addressForm.controls['materias_id'].hasError('required')">
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label >Periodo</mat-label>
        <mat-select matInput [(ngModel)]="tareas.periodos_id" (selectionChange)="tareas.periodos_id"  formControlName='periodos_id'>
          <mat-option *ngFor="let per of collectionPeriodos" [value]="per.id">
            {{per.descripcion}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addressForm.controls['periodos_id'].hasError('required')">
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

    <mat-card-actions style="text-align: center;">
      <button mat-raised-button [disabled]="addressForm.invalid" color="primary" type="submit">Guardar</button>
      <button mat-raised-button color="primary" routerLink="/mostrarTareas">Cancelar</button>
    </mat-card-actions>
  </mat-card>
  </form>


